package v2

// {{ .Comment }}

import (
  "github.com/sensu/sensu-api-tools/apis"
)

const apiGroup = "core/v2"

var typeMap = map[string]interface{}{ {{ range $index, $typename := .TypeNames }}
    "{{ snakeCase $typename }}": &{{ $typename }}{},{{ end }}
}

func init() {
    for typeAlias, typ := range typeMap {
        if _, ok := typ.(Resource); ok {
            apis.RegisterType(apiGroup, typ, typeAlias)
        }
    }
}
